AWS_REGION=auto
AWS_BUCKET=briantakita-assets
AWS_ENDPOINT_URL=https://1e7e194ff8da4ad9e40ce041aea84f76.r2.cloudflarestorage.com
AWS_ACCESS_KEY_ID=<pass briantakita.me/rw/AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<pass briantakita.me/rw/AWS_SECRET_ACCESS_KEY>
ASSETS_BRIANTAKITA_ME__BUCKET_URL=https://briantakita.me
BRIANTAKITAME_PORT=4100
