[submodule "app/briantakita.me"]
	path = app/briantakita.me
	url = git@github.com:btakita/briantakita.me.git
[submodule "lib/domain--any--blog"]
	path = lib/domain--any--blog
	url = git@github.com:btakita/domain--any--blog.git
[submodule "lib/domain--browser--briantakita"]
	path = lib/domain--browser--briantakita
	url = git@github.com:btakita/domain--browser--briantakita.git
[submodule "lib/domain--server--blog"]
	path = lib/domain--server--blog
	url = git@github.com:btakita/domain--server--blog.git
[submodule "lib/ui--any--blog"]
	path = lib/ui--any--blog
	url = git@github.com:btakita/ui--any--blog.git
[submodule "lib/ui--server--blog"]
	path = lib/ui--server--blog
	url = git@github.com:btakita/ui--server--blog.git
[submodule "lib/ui--server--briantakita"]
	path = lib/ui--server--briantakita
	url = git@github.com:btakita/ui--server--briantakita.git
[submodule "lib/ui--server--linkument"]
	path = lib/ui--server--linkument
	url = git@github.com:linkument/ui--server--linkument.git
[submodule "lib/domain--browser--blog"]
	path = lib/domain--browser--blog
	url = git@github.com:btakita/domain--browser--blog.git
