[submodule "app/briantakita.me"]
	path = app/briantakita.me
	url = git@github.com:btakita/briantakita.me.git
[submodule "lib/dev-bin"]
	path = lib/dev-bin
	url = git@github.com:btakita/dev-bin.git
[submodule "lib/domain--server--briantakita"]
	path = lib/domain--server--briantakita
	url = git@github.com:btakita/domain--server--briantakita.git
[submodule "lib/snippet--rappstack"]
	path = lib/snippet--rappstack
	url = git@github.com:btakita/snippet--rappstack.git
[submodule "lib/ui--browser--briantakita"]
	path = lib/ui--browser--briantakita
	url = git@github.com:btakita/ui--browser--briantakita.git
[submodule "lib/ui--browser--semantic"]
	path = lib/ui--browser--semantic
	url = git@github.com:rappstack/ui--browser--semantic.git
[submodule "lib/ui--server--briantakita"]
	path = lib/ui--server--briantakita
	url = git@github.com:btakita/ui--server--briantakita.git
[submodule "lib/ui--server--linkument"]
	path = lib/ui--server--linkument
	url = git@github.com:linkument/ui--server--linkument.git
